<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Persona</title>
</head>
<body>
    <h1>Detalle Persona</h1>
    <div>Id Persona: {{persona.id}}</div>
    <div>Nombre Persona: {{persona.nombre}}</div>
    <div>Apellido Persona: {{persona.apellido}}</div>
    <div>Email Persona: {{persona.email}}</div>

    <a href="{% url 'index' %}">Regresar al inicio</a>
</body>
</html>