<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domicilios</title>
</head>
<body>

    <h2>Domicilios</h2>

    <div>
        Numero de domicilios: {{no_domicilios}}
    </div>

    <div>
        <a href="nuevo_domicilio">Agregar Domicilio</a>
    </div>

    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre Calle</th>
                    <th>Numero Calle</th>
                    <th>Pais</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for domicilio in domicilios %}
                <tr>
                    <td>{{domicilio.id}}</td>
                    <td>{{domicilio.calle}}</td>
                    <td>{{domicilio.no_calle}}</td>
                    <td>{{domicilio.pais}}</td>
                    <td><a href="detalle_domicilio/{{domicilio.id}}">Ver</a></td>
                    <td><a href="editar_domicilio/{{domicilio.id}}">Editar</a></td>
                    <td><a href="eliminar_domicilio/{{domicilio.id}}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'index' %}">Regresar al inicio</a>
    <!-- <a href="{% url 'domicilios' %}">Regresar al inicio</a> -->

</body>
</html>